{
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties"
  ],
  "presets": [["env", {"modules": false}], "react", "stage-0"],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
