{
  "plugins": [
    "transform-class-properties",
    "syntax-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "presets": [["env"], "react"],
      "plugins": [
        "transform-class-properties",
        "syntax-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-define", {
          "__DEV__": true
        }
      ]
    }
  }
}
